### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
application-override.properties

### Eclispe ###
/config/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VSCode ###
.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


